.container{
    display: flex;
    padding:70px;
    margin: 0 auto;
}

.title{
    font-weight: bold;
    
}

.descriptions {
    font-size: larger;
    font-weight: bolder;
}

h3 {
    font-style: italic;
    font-weight: bolder;
}