* {
    font-size: larger;
    font-weight: bolder;
    background-color: #42826D;
    color: black;
}

.text {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #a21fee;
    color: white;
    cursor: pointer;
    
}