
body {
    background-color: #95b8d1;
    height: 1000px;
    margin: 2rem auto;
    max-width: 2000px;
    padding: 20px;

    &h2 {
        margin-bottom: 10px;
        text-decoration: underline;
    }

    img {
        width: 100%;
        height: auto;
    }

}


