
body {
    background-color: #95b8d1;
    height: 1000px;
    margin: 2rem auto;
    max-width: 2000px;
    padding: 20px;
    font-family: Consolas;
    &h2 {
        margin-bottom: 10px;
        text-decoration: underline;
    }
    body {
        font-size: 20px;
        color:#800080
        
      }

}


