
.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
  background-color: rgb(235, 112, 112);
}

.navList {
  display: flex;
  

  & a {
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 20px;
    min-width: 75px;
    padding: 2px;
    text-decoration: none;
    
  }

  & a:hover {
    background-color: rgb(250, 234, 16);
    color: rgb(207, 28, 28);
    transition: .5s;
  }
}

