.container {
    align-items: center;
    font-size: larger;
    font-weight: bold;
    font-family: Consolas;
    margin: 3rem auto;
    padding: 4rem;

    a {
        text-decoration: none;
        border-radius: 5px;
        font-size: 2rem;
        color: black;
        box-shadow: 0 8px 16px #222;
    }

    a:hover {
        border: 2px solid #104F55;
        background-color: rgba(365,365,365,0.5);
        cursor: pointer;
        color: #104F55;
        opacity: .8;
        transition: .3s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}